!output/images/*.png
!output/images/*.jpg

__pycache__/
*.py[cod]
*$py.class

.ipynb_checkpoints
.virtual_exp/

data/
*.zip
*.png
*.jpg
*.jpeg

output/
*.ckpt
*.pth

.env
.DS_Store

venv/
env/
.conda/